@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');



html,
body {
  padding: 0;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar{
  display: none;
}

.AuthCover{
  
    color: white;
    background: #212125;
  
}

.cfont{
  font-family: 'Courier Prime', monospace;
}

.borderbottom{
  border-bottom: 1px solid transparent ;
}

.borderbottom:hover{
  border-bottom: 2px solid white ;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  /* html { */
    /* color-scheme: dark; */
  /* } */
  body {
    color: white;
    background: #212125;
  }
}

.backimage{
  background-image: url("../public/images/01.jpg") !important;
  background-size: cover !important;
  z-index: 155 !important;
  width: 100vw !important;
  height: 100vh !important;
  
}

@media only screen and (max-width: 600px) {
  .staterProfile{
    
    position:relative  ;
    bottom: -5em;
    /* padding-top: 5em; */
    
  }
  .paddingNullify{
    padding: 0 15px  !important;
  }
  .paddingNullifyy{
    padding: 10em 15px  !important;
  }
  
  .secondComp{
    margin-top: 8em;
  }
  .starterGitButton{
    position: absolute;
    margin-top: 8em;
    color:white;
    border:1px solid white

  }
  
}